body {
  background-color: rgb(246, 40, 160); /*Pode escolher outra cor se quiser*/
}

h1 {
  color: white; /*Pode escolher outra cor se quiser*/
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
.estrela {
  position: fixed;
  top: -10px;
  color: yellow;
  font-size: 25px;
  animation: cair 5s linear infinite;
  z-index: -1;
}

.estrela::before {
  content: "★";
}

@keyframes cair {
  0% {
    transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}